<div class="row justify-content-md-center">

  <div class="col-sm-8">
    <div [ngSwitch]="step">
      <div *ngSwitchCase="1">
        <!-- Form step 1 -->
        <form novalidate (ngSubmit)="onFormNext(basic)" #basic="ngForm">

          <div style="text-align:center;">
            <h1>Personal Information</h1>
            <p>Please fill in this form</p>
          </div>
          <hr>

          <div class="form-group">
            <label for="firstName">
              <b>First Name</b>
            </label>
            <input type="text" class="form-control" [ngModel]="user.firstName" name="firstName" #firstName="ngModel" id="inputfirstName"
              placeholder="First Name" required>
          </div>
          <!-- firstName error block -->
          <div *ngIf="(firstName.invalid && ( firstName.touched || firstName.dirty) ) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="firstName.errors?.required">
              Please enter the firstname
            </div>
          </div>


          <div class="form-group">
            <label for="lastName">
              <b>Last Name</b>
            </label>
            <input type="text" class="form-control" [ngModel]="user.lastName" name="lastName" #lastName="ngModel" id="inputlastName"
              placeholder="Last Name" required>
          </div>
          <!-- lastName error block -->
          <div *ngIf="(lastName.invalid && ( lastName.touched || lastName.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="lastName.errors?.required">
              Please enter the lastname
            </div>
          </div>

          <div class="form-group">
            <label for="email">
              <b>Email</b>
            </label>
            <input type="text" class="form-control" [ngModel]="user.email" name="email" #email="ngModel" id="inputEmail" placeholder="Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
          </div>
          <!-- Email error block -->
          <div *ngIf="(email.invalid && ( email.touched || email.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="email.errors?.required">
              Please enter the email id
            </div>
            <div *ngIf="email.errors?.pattern &&  email.dirty">
              Please enter the valid email id
            </div>
          </div>

          <!-- Select Gender block -->
          <div class="form-group">
            <label for="gender">
              <b>Gender</b>
            </label>
            <select id="select" class="form-control" [ngModel]="user.gender" name="gender" required>
              <option *ngFor="let g of gender" [value]="g"> {{g}}
              </option>
            </select>
          </div>

          <!-- Select Date of Birth block -->
          <div class="form-group">
            <label for="dob">
              <b>Date of Birth</b>
            </label>
            <input type="date" class="form-control" [ngModel]="user.dob" name="dob" #dob="ngModel" id="inputdob" placeholder="Select date"
              required>
          </div>
          <!-- dob error block -->
          <div *ngIf="(dob.invalid && ( dob.touched || dob.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="dob.errors?.required">
              Please enter the Date of Birth
            </div>
          </div>

          <!-- Select status block -->
          <div class="form-group">
            <label for="prom">
              <b>Like to recive promotion</b>
            </label>
            <br>
            <div class="form-check form-check-inline">
              <label>
                <input type="radio" value="yes" name="prom" [ngModel]="user.prom" #prom="ngModel" id="inputprom"> Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label>
                <input type="radio" value="no" name="prom" [ngModel]="user.prom" #prom="ngModel" id="inputprom"> No
              </label>
            </div>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" #agree="ngModel" value="true" id="agree" [ngModel]="user.agree" id="inputagree" name="agree" required>
            <label class="form-check-label" for="agree">
              I agree to the Terms and Conditions
            </label> 
          </div>
          <div *ngIf="(agree.invalid && ( agree.touched || agree.dirty)) || isSubmitted" class="col-sm-6 text-danger">
              <div *ngIf="agree.errors?.required">
                Please Agree to the terms and Conditions
              </div>
            </div>

          <br>

          <div class="clearfix">
            <button type="submit" class="btn btn-primary" style="float: right;"> Next
            </button>
          </div>

        </form>
      </div>
      <div *ngSwitchCase="2">
        <!-- Form step 2 -->
        <form novalidate (ngSubmit)="onFormSubmit(basic)" #basic="ngForm">


          <div style="text-align:center;">
            <h1>Booking Information</h1>
            <p>Please fill in this form</p>
          </div>
          <hr>

          <div class="form-group">
            <label for="fromPlace">
              <b>Where from?</b>
            </label>
            <input type="text" class="form-control" [ngModel]="user.fromPlace" name="fromPlace" #fromPlace="ngModel" id="inputfromPlace"
              placeholder="Where from?" required>
          </div>
          <!-- fromPlace error block -->
          <div *ngIf="(fromPlace.invalid && ( fromPlace.touched || fromPlace.dirty) ) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="fromPlace.errors?.required">
              Please enter the From Place
            </div>
          </div>


          <div class="form-group">
            <label for="toPlace">
              <b>Where to?</b>
            </label>
            <input type="text" class="form-control" [ngModel]="user.toPlace" name="toPlace" #toPlace="ngModel" id="inputtoPlace" placeholder="Where to?"
              required>
          </div>
          <!-- toPlace error block -->
          <div *ngIf="(toPlace.invalid && ( toPlace.touched || toPlace.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="toPlace.errors?.required">
              Please enter the To Place
            </div>
          </div>

          <!-- Select Date of Birth block -->
          <div class="form-group">
            <label for="startDate">
              <b>Departure date</b>
            </label>
            <input type="date" class="form-control" [ngModel]="user.startDate" name="startDate" #startDate="ngModel" id="inputstartDate"
              placeholder="Select Departure date" required>
          </div>
          <!-- startDate error block -->
          <div *ngIf="(startDate.invalid && ( startDate.touched || startDate.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="startDate.errors?.required">
              Please enter the Departure date
            </div>
          </div>

          <!-- Select Date of Birth block -->
          <div class="form-group">
            <label for="endDate">
              <b>Return date</b>
            </label>
            <input type="date" class="form-control" [ngModel]="user.endDate" name="endDate" #endDate="ngModel" id="inputendDate" placeholder="Select Departure date"
              required>
          </div>
          <!-- endDate error block -->
          <div *ngIf="(endDate.invalid && ( endDate.touched || endDate.dirty)) || isSubmitted" class="col-sm-6 text-danger">
            <div *ngIf="endDate.errors?.required">
              Please enter the Return date
            </div>
          </div>

          <br>
          <!-- <div class="progress form-group col-lg-6">
                    <div class="progress-bar bg-success col-lg-6" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div> -->
          <div class="clearfix">
            <button type="submit" class="btn btn-primary" style="float: right;"> Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>